
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './assets/styles/theme-colors.scss' as blue-theme;
@use './assets/styles/mat-scheme.scss' as *;
@use './assets/styles/common.scss' as *;

html {
  // Must specify color-scheme for theme mixin to automatically work
  color-scheme: light dark;

  // Create one theme that works automatically for light and dark theme
  @include mat.theme((
    color: (
      primary: blue-theme.$primary-palette,
      tertiary: blue-theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Use high contrast values when users prefer contrast
  @media (prefers-contrast: more) {
    @include blue-theme.high-contrast-overrides(color-scheme);
  }
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-background);
}

html.light {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
