// main common styles for the application
.flex-center {
  @apply flex justify-center items-center;
}
.flex-col-center {
  @apply flex flex-col justify-center items-center;
}

.checkbox-md,
.button-md {
  @apply scale-75;
}

.menu-md.mat-mdc-menu-panel {
  .mat-mdc-menu-item {
    min-height: 36px;
    padding-right: 9px;
    padding-left: 9px;
    mat-icon {
      @apply scale-75;
    }
  }
}
