.mat-sys-theme-reference { // Reference for Material Design System colors | Don't use this class.
  --mat-sys-primary: light-dark(#002b5d, #ebf0ff);
  --mat-sys-on-primary: light-dark(#ffffff, #000000);
  --mat-sys-primary-container: light-dark(#1c4986, #a4c3ff);
  --mat-sys-on-primary-container: light-dark(#ffffff, #000b20);
  --mat-sys-inverse-primary: light-dark(#aac7ff, #1a4785);
  --mat-sys-primary-fixed: light-dark(#1c4986, #d6e3ff);
  --mat-sys-primary-fixed-dim: light-dark(#003269, #aac7ff);
  --mat-sys-on-primary-fixed: light-dark(#ffffff, #000000);
  --mat-sys-on-primary-fixed-variant: light-dark(#ffffff, #00112b);
  --mat-sys-secondary: light-dark(#242c3a, #eaf0ff);
  --mat-sys-on-secondary: light-dark(#ffffff, #000000);
  --mat-sys-secondary-container: light-dark(#414958, #bbc3d5);
  --mat-sys-on-secondary-container: light-dark(#ffffff, #040b18);
  --mat-sys-secondary-fixed: light-dark(#414958, #dbe3f5);
  --mat-sys-secondary-fixed-dim: light-dark(#2b3341, #bfc7d9);
  --mat-sys-on-secondary-fixed: light-dark(#ffffff, #000000);
  --mat-sys-on-secondary-fixed-variant: light-dark(#ffffff, #09111e);
  --mat-sys-tertiary: light-dark(#39253e, #ffe9ff);
  --mat-sys-on-tertiary: light-dark(#ffffff, #000000);
  --mat-sys-tertiary-container: light-dark(#57425c, #d6b9d9);
  --mat-sys-on-tertiary-container: light-dark(#ffffff, #15051b);
  --mat-sys-tertiary-fixed: light-dark(#57425c, #f7d9fa);
  --mat-sys-tertiary-fixed-dim: light-dark(#402b45, #dabddd);
  --mat-sys-on-tertiary-fixed: light-dark(#ffffff, #000000);
  --mat-sys-on-tertiary-fixed-variant: light-dark(#ffffff, #1c0a21);
  --mat-sys-background: light-dark(#fbf8fc, #131316);
  --mat-sys-on-background: light-dark(#1b1b1e, #e4e2e5);
  --mat-sys-surface: light-dark(#fbf8fc, #131316);
  --mat-sys-surface-dim: light-dark(#bab8bb, #131316);
  --mat-sys-surface-bright: light-dark(#fbf8fc, #505052);
  --mat-sys-surface-container-low: light-dark(#f2f0f3, #1f1f22);
  --mat-sys-surface-container-lowest: light-dark(#ffffff, #000000);
  --mat-sys-surface-container: light-dark(#e4e2e5, #303033);
  --mat-sys-surface-container-high: light-dark(#d6d4d7, #3b3b3e);
  --mat-sys-surface-container-highest: light-dark(#c7c6c9, #464649);
  --mat-sys-on-surface: light-dark(#000000, #ffffff);
  --mat-sys-shadow: light-dark(#000000, #000000);
  --mat-sys-scrim: light-dark(#000000, #000000);
  --mat-sys-surface-tint: light-dark(#365e9d, #aac7ff);
  --mat-sys-inverse-surface: light-dark(#303033, #e4e2e5);
  --mat-sys-inverse-on-surface: light-dark(#ffffff, #000000);
  --mat-sys-outline: light-dark(#212e35, #e4f2fb);
  --mat-sys-outline-variant: light-dark(#3e4b52, #b6c5cd);
  --mat-sys-error: light-dark(#600004, #ffece9);
  --mat-sys-on-error: light-dark(#ffffff, #000000);
  --mat-sys-error-container: light-dark(#98000b, #ffaea5);
  --mat-sys-on-error-container: light-dark(#ffffff, #220001);
  --mat-sys-surface-variant: light-dark(#d6e5ed, #3b4950);
  --mat-sys-on-surface-variant: light-dark(#000000, #ffffff);
}